18_El micro framework Flask/intro-flask/privateData.py
18_El micro framework Flask/intro-flask/__pycache__/privateData.cpython-310.pyc
000_Ejercicios y proyectos/34_Proyecto_Mailer/venv/
000_Ejercicios y proyectos/34_Proyecto_Mailer/.env
000_Ejercicios y proyectos/34_Proyecto_Mailer/*.pyc
000_Ejercicios y proyectos/34_Proyecto_Mailer/__pycache__/
000_Ejercicios y proyectos/34_Proyecto_Mailer/instance/