body {
    background-color: #eee;
}

.box{
    position:relative;
    left:50px;
    top:50px;
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    /*La propiedades estas de transformacion que estamos viendo en este apartado del curso
    se deben aplicar a un 'display-block' (no a un display inline), sabemos que la <p> es
    display block, asi que continuamos...
    La p tiene por defecto displayblock, asi que las siguientes lineas se le pueden aplicar
    perfectamente...*/

    /*Transformar en 3D es utilizar rorateX, rotateY ,rotateZ con el transform
    porque lo que hace es rotar sobre el ejeX, el ejeY o el ejeZ... parece que se haga peque
    al poner los grados, pero realmente es que rota.
        rotateX(Xdeg): Gira en horizontal, sobre el ejeX. Da la sensacion que se hace pequeño pero es porque lo superior se va hacia 
            el fondo y lo inferior del div viene hacia ti.
                Poner valores entre 0 y 90, siendo 0 lo normal y 90 una linea plana porque se tendria que ver des
                de arriba.
        rotateY(Xdeg): Gira en vertical sobre el ejeY
        rotateZ(Xdeg): Gira sobre el centro... es como el rotate normal.
    */
    transform: rotateY(45deg);
}
