/*
    Webpage colors:
    #EAE7DC
    #D8C3A5
    #8E8D8A
    #E98074
    #E85A4F
*/
@font-face {
    font-family: 'Roboto';
      src: url('roboto.eot'); /* IE9 Compat Modes */
      src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('roboto.woff') format('woff'), /* Modern Browsers */
      url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}


body {
    background-color: #EAE7DC;
}

ul{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left:0; 
    width: 100%;
    background-color: #D8C3A5;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li:hover{
    background-color: rgba(0,0,0,0.3);
}

.active{
    background-color: #E98074;
}

.content{
    margin-top: 55px;
}

p{
    font-family: 'Roboto', sans-serif;
    /* font-size: 48px; */
}

.centrado{
    text-align: center;
}

.titulo{
    font-size: 50px;
}